<p id="notice"><%= notice %></p>

<h1>施設一覧</h1>
<% link_to '新しい施設を追加', new_room_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Address</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
         <li>
         <%= link_to room.name, room_path(room) %>
         <p><%= number_to_currency(room.price) %></p>
         </li>
        <td><%= room.description %></td>
        <td><%= room.price %></td>
        <td><%= room.address %></td>
        <td><%= room.image %></td>
        <td><%= room.user_id %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
