<h1>新しい部屋を作成</h1>

<%= form_with model: @room, local: true do |f| %>
  <div>
    <%= f.label :name, '部屋の名前' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, '説明' %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :price, '価格' %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :address, '住所' %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.submit '部屋を作成' %>
  </div>
<% end %>
