<p id="notice"><%= notice %></p>

<p>
  <strong>Name(施設名称):</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Price(料金):</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Address(住所):</strong>
  <%= @room.address %>
</p>

<p>
  <strong>Image(詳細画像):</strong>
  <%= @room.image %>
</p>

<p>
  <strong>User(ユーザー):</strong>
  <%= @room.user_id %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to '施設一覧に戻る', rooms_path %>
