<p id="notice"><%= notice %></p>

<p>
  <strong>Name(施設名称):</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Price(料金):</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Address(住所):</strong>
  <%= @room.address %>
</p>

<p>
  <strong>Image(詳細画像):</strong>
  <%= @room.image %>
</p>

<p>
  <strong>User(ユーザー):</strong>
  <%= @room.user_id %>
</p>

<%= form_with model: [@room, @reservation], local: true do |f| %>
  <%= f.label :start_date, 'チェックイン日' %>
  <%= f.date_field :start_date %>
  <%= f.label :end_date, 'チェックアウト日' %>
  <%= f.date_field :end_date %>
  <%= f.submit '予約する' %>
<% end %>

<%= link_to '更新', edit_room_path(@room) %> |
<%= link_to '施設一覧に戻る', rooms_path %>
